/* 头部 */admin-side-toggle
.header{height: 65px; border-bottom: 1px solid #404553;  background-color: #393D49; color: #fff;}
.logo{position: absolute; left: 0; top: 18px;}
.logo img{width: 82px; height: 31px;}

.header .layui-nav{position: absolute; right: 0; top: 0; padding: 0; background: none;}
.header .layui-nav .layui-nav-item{margin: 0 20px; line-height: 66px;}

.layui-layout-admin .header-demo{border-bottom-color: #1AA094; background-color: #fff;}

.admin-side-toggle,.admin-side-full{
	position: absolute; cursor: pointer;
    z-index: 19940201;
    left: 200px;
    color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #1AA094;
    line-height: 30px;
    top: 25%;
}

.admin-side-toggle:hover{
	background-color: #5FB878;
}
.admin-side-full{
	left: 240px;
}
.admin-login-box{
	width: 185px; height: 70px; position: relative;
}

/* 底部 */
.footer{padding: 30px 0; line-height: 30px; text-align: center; background-color: #eee; color: #666; font-weight: 300;}
body .layui-layout-admin .footer-demo{height: auto; padding: 5px 0; line-height: 26px;}
.footer a{padding: 0 5px;}
.footer-demo{position: static;}

.content-demo{
    border-top-style: solid;
    border-top-width: double;
    border-top-color: #1AA094;
}

.layui-nav-child dd a{
    padding-left: 30px !important;
}